.box {
    background-color: skyblue;
    font-size: 150%;
    text-align: center;
}

body {
    background-color: rgb(37, 37, 37);
}

.container {
    background-color: white;
}

/* body {
    filter: blur(10px);
}

body:hover {
    filter: none;
} */